{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Hospital">
        <title>
            {% block title %}{% endblock %}
        </title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <!--[if lt IE 9]>
            <script src="{% static 'js/html5shiv.js' %}"></script>
            <script src="{% static 'js/respond.min.js' %}"></script>
        <![endif]-->

</head>
<body>

<div class="container">
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/js.js' %}"></script>

    <a class="btn  btn-info" href="{% url 'transfer' %}">Перевести деньги</a>
    <a class="btn  btn-info" href="{% url 'money_remain' %}">Посмотреть остатки</a>
  {% block content %}{% endblock %}
</div>
</body>
</html>