{% extends 'base.html' %}

{% load staticfiles %}

{%  load crispy_forms_tags %}

{% block title %} Главная {% endblock %}

{% block content %}

    <form action="{% url 'transfer' %}" method="post" class="form" id="form">
    {% csrf_token %}

        {{ form|crispy }}

        <input class="btn btn-success" type="submit" value="Submit">
        <div>
            <h3><span id="success_text" class="text-success">Деньги были успешно переведены</span></h3>
            <h3><span id="error_text" class="text-danger"></span></h3>
        </div>
    </form>

{% endblock %}