{% extends 'base.html' %}

{% block title %} Текущий баланс клиентов {% endblock %}

{% block content %}

{% if user_list %}

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Пользователь</th>
      <th>ИНН</th>
      <th>Остаток средств</th>
    </tr>
      {% for user in user_list %}
      <tr>
        <td class="">{{ user.username }}</td>
        <td class="">{{ user.inn }}</td>
        <td class="">{{ user.bill }} руб.</td>
      </tr>
        {% endfor %}
  </table>
{% else %}
    <h3>Извините, в данный момент нет доступных данных о пользователях в системе.</h3>
{% endif %}

{% endblock %}